* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

:root {
  --text-colour: #E50043;
  --border-color: #F8BFC7;
  --based-font: Arial;
  --hf-font-size: 5rem;
  --text-font-size: 2.5rem;
  --line-height: 2.9rem;  
  }

.main {
	margin-top: 14rem;
}

.header {
	height: 14rem;	
	width: 100%;
	display: flex;	
	align-items:center;
	padding: 2.5rem;
	background-color: white;
	position: fixed;
	top:0rem;
	z-index: 1;
}

.header-title {
	font-size: var(--hf-font-size);
	flex-grow: 1;
	margin: 2.5rem;
	color: var(--text-colour);
	font-family: var(--based-font);
}

.link-ul {
	list-style: none;
	display: flex;
	flex-direction:row;
}

.header-link {
	font-size: var(--hf-font-size);
	color: var(--text-colour);
	font-family: var(--based-font);
	text-decoration: none;
	margin: 2.5rem;
}

.main-image {
	height: 94rem;
	display: flex;
	background: url(../img/evian_origins_logo.png) no-repeat center center; 
	background-size: cover;			
}

.main-image-title {
	font-size: 10rem;
	font-family: var(--based-font);
	color: var(--text-colour);
	text-align: center;
	margin: auto;	
}

.description-div {
	box-sizing: border-box;
	width: 105rem;	
	border: 0.3rem solid var(--border-color);	
	border-radius: 2rem;
	margin: 15rem auto 15rem ;

}

.product-container-div {
	width: 108rem;	
	display: flex;	
	justify-content:space-around;
	align-items:center;
	margin: 0 auto;
}

.description-text, .description-title {
	font-family: var(--based-font);
	font-size: var(--text-font-size);
	line-height: var(--line-height);
	letter-spacing: 0.05em;	
	margin: 2.5rem;
}

.wang, .blue, .chiara {
	height: 97.3rem;
	width: 28rem;	
	display: flex;
	justify-content:center;
	align-items:flex-end;
	background-size: contain !important;	
	text-align: center;
	transition: 0.5s;
	}	

.wang {
	background: url(../img/wang.png) no-repeat top center;
	

}
.wang:hover {
	transform: scale(1.03);
}

.blue {
	background: url(../img/blue.png) no-repeat top center;

}

.blue:hover {
	transform: rotate(1deg);
}

.chiara {
	background: url(../img/chiara.png) no-repeat top center;
}

.chiara:hover {
	transition: 60.5s;
	transform: scale(1.23) rotate(-360deg);

}

.product-title {
	font-size: var(--text-font-size);
	font-family: var(--based-font);
	line-height: var(--line-height);
}

.item-container {
	/*height: 58rem;*/
	display: flex;
	justify-content: center;	
}

.item-div {
	/*height: 28.5rem;*/
	width: 104.5rem;
	border: 0.3rem solid var(--border-color);
	border-radius: 2rem;
	display: flex;	
	align-items: center;
	padding: 3rem;
	margin: 15rem 0;
}

.item-image-div {
	width: 10.1rem;
    height: 22rem;
    background: url(../img/glass.png) no-repeat center;
    background-size: contain;
    margin: 0 8rem 0 5rem;}

.item-text-div {
	/*width: 74.9rem;*/
	/*height: 22rem;*/
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: var(--based-font);
	font-size: var(--text-font-size);
	line-height: var(--line-height);
}	

.item-text-content {	
	list-style-type: none;
}

.footer {
	height: 14rem;
	background-color: var(--border-color);
	display: flex;
	align-items:center;
}

.footer-text {
	font-family: var(--based-font);
	font-size: var(--hf-font-size);
	margin: 5rem;
	color: white;	
}

