* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

}

:root {
    --based-font: Helvetica;
    --based-color: rgba(0, 0, 255, 1);
}

@media screen and (min-width: 50px) {

    .header, .footer {
        height: 10rem;
        background-color: var(--based-color);
        display: flex;
        justify-content: space-between;
        padding: 3.5rem 3rem;
    }

    .header-title, .footer-title {
        font-size: 2.5rem;
        font-weight: bold;
        font-family: var(--based-font);
        color: white;
    }


    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: calc(100vh - 20rem);
        padding: 2rem 0;
    }

    .card {
        width: 33rem;
        height: 16.5rem;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 5px solid black;
    }

    .c2, .c3, .c4 {
        margin: 4rem 0 0 0;
    }

    .text {
        font-family: var(--based-font);
        font-size: 2.5rem;
        line-height: 2.8rem;
        font-weight: bold;
    }
}

@media screen and (min-width: 667px) {

    .main {
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }


    .card {
        width: 31rem;
        height: 16rem;
        margin: 1rem;
        padding: .5rem;
    }

    .text {
        font-family: var(--based-font);
        font-size: 2.5rem;
        line-height: 2.8rem;
    }
}

@media screen and (min-width: 960px) {

    .main {
        padding: 5rem;
    }

    .card {
        width: 37.2rem;
        height: 19.2rem;
        padding: 2rem;
    }

    .text {
        font-family: var(--based-font);
        font-size: 3rem;
        line-height: 3.36rem;
    }
}

@media screen and (min-width: 1176px) {

    .card {
        width: 48rem;
        height: 24rem;
    }

    .text {
        font-family: var(--based-font);
        font-size: 3.75rem;
        line-height: 4.2rem;
    }
}

@media screen and (min-width: 1499px) {

    .card {
        width: 60rem;
        height: 30rem;
    }

    .text {
        font-family: var(--based-font);
        font-size: 5rem;
        line-height: 5.8rem;
    }
}