* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html { font-size: 62.5%; }

:root {
  --background-colour: red;
  --border-color: gold;
  --based-font: Times New Roman;
  --title-font: Helvetica;
  --font-size: 2rem;
  --line-height: 2.4rem;
  --receip-width: 33.4rem;
  --vertical-spacing: 5.2rem;
  --receip-padding: 3.3rem;
  --receip-border-radius: 3.0rem;
  --receip-border-thickness: .5rem;
  --usual-height: 6.0rem;
  --usual-padding: 2.0rem;

  }

.header-div {
	height: var(--usual-height);
	background-color: var(--background-colour);
	color: white;
	padding: var(--usual-padding);
	box-sizing: border-box;
}

.header-title {
	font-family: var(--title-font);
	font-weight: bold;
	line-height: var(--line-height);
	font-size: var(--font-size);
}

.receip-div {
	display: inline-block;
	border: var(--receip-border-thickness) solid var(--border-color);
	border-radius: var(--receip-border-radius);
	padding: var(--receip-padding);
	padding-bottom: 1.2rem;
	margin-top: var(--vertical-spacing) ;
	margin-bottom: var(--vertical-spacing);
	text-align: left;		
}

.receip-div-center {
	display: inline-block;
	border: var(--receip-border-thickness) solid var(--border-color);
	border-radius: var(--receip-border-radius);
	padding: var(--receip-padding);
	padding-bottom: 1.2rem;
	margin: var(--vertical-spacing) 5.0rem;
	text-align: left;
	
}
.receip-text {
	font-family: var(--based-font);
	display: inline-block;
	width: var( --receip-width);
	font-size: var(--font-size);
	line-height: var(--line-height);
	list-style: none;

	margin-bottom: 2rem;
}

.receip-text-title {
	
	font-family: var(--based-font);
	width: var( --receip-width);
	font-size: var(--font-size);
	line-height: var(--line-height);
}

.receip-title {

	font-family: var(--based-font);
	font-size: var(--font-size);
	line-height: var(--line-height);
	font-weight: bold;
	margin-bottom: 2.1rem;
}

main {
	
	text-align: center;
}

.footer-div {
	height: var(--usual-height);
	background-color: var(--background-colour);
	color: white;
	padding: var(--usual-padding);
	box-sizing: border-box;
}

.footer-text {
	font-family: var(--title-font);
	font-weight: bold;
	font-size: var(--font-size);
	line-height: var(--line-height);
}