@import url(specialReset.css);

html { font-size: 10px }

:root {
  --backgroundColor: red;
  --borderColor: gold;
  --based-font: Times New Roman;
  --title-font: Helvetica;
  --fontSize: 2rem;
  --lineHeight: 2.4rem;
  --receipWidth: 334px;
  --receipMarginTop: 52px;
  --receipMarginBottom: 52px;
  --receipPadding: 33px;
  --receipBorderRadius: 30px;
  --receipBorderThickness: 5px;
  --breadHeight: 60px;
  --breadPadding: 20px;

  #E5E000
}

.header-div {
	height: var(--breadHeight);
	background-color: var(--backgroundColor);
	color: white;
	padding: var(--breadPadding);
	box-sizing: border-box;
}

.header-title {
	font-family: var(--title-font);
	font-weight: bold;
	line-height: var(--lineHeight);
	font-size: var(--fontSize);
}

.receip-div {
	display: inline-block;
	border: var(--receipBorderThickness) solid var(--borderColor);
	border-radius: var(--receipBorderRadius);
	padding: var(--receipPadding);
	margin-top: var(--receipMarginTop) ;
	margin-bottom: var(--receipMarginBottom);
	text-align: left;	
}

.receip-div-center {
	display: inline-block;
	border: var(--receipBorderThickness) solid var(--borderColor);
	border-radius: var(--receipBorderRadius);
	padding: var(--receipPadding);
	margin: var(--receipMarginTop) 50px;
	text-align: left;
	
}
.receip-text {
	font-family: var(--based-font);
	
	width: var( --receipWidth);
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
}

.receip-text-title {
	
	font-family: var(--based-font);
	width: var( --receipWidth);
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
}

.receip-title {

	font-family: var(--based-font);
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
	font-weight: bold;
	margin-bottom: 41px;
}

main {
	
	text-align: center;
}

.footer-div {
	height: var(--breadHeight);
	background-color: var(--backgroundColor);
	color: white;
	padding: var(--breadPadding);
	box-sizing: border-box;
}

.footer-text {
	font-family: var(--title-font);
	font-weight: bold;
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
}